        body {
            background: #f4f6f9;
        }
        .dashboard-header {
            background: linear-gradient(135deg, #003768, #37c9d1);
            color: white;
            padding: 20px;
            text-align: center;
            box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        }
        button.btn.btn-success.w-100.fw-semibold {
            background: linear-gradient(135deg, #003768, #37c9d1);
        }
        button.btn.btn-primary.w-100.fw-semibold {
            background: linear-gradient(135deg, rgb(0, 55, 104), rgb(55, 201, 209));
        }
        h5.card-title.text-primary.fw-bold {
            color: #026eb4 !important;
        }
        h5.card-title.text-success.fw-bold {
            color: #026eb4 !important;
}     
        .card {
            border: none;
            border-radius: 15px;
            box-shadow: 0 6px 20px rgba(0,0,0,0.08);
            transition: transform 0.2s ease-in-out;
        }
        .card:hover {
            transform: translateY(-3px);
        }
        .form-control, .form-select {
            border-radius: 12px;
        }
        .row.g-4.top-fix {
            margin-top: 2rem;
        }
        button {
            border-radius: 12px;
        }
        pre {
            background: #1e1e2f;
            color: #dcdcdc;
            padding: 10px;
            font-size: 0.9rem;
            max-height: 200px;
            overflow-y: auto;
        }